# third party
third_party/*

# heavy binary files
*.bmp
*.jpg

# build crap
build/*
src/tiny_jpeg
src/libserg

# vim crap
tags
*.taghl

# latex crap
*.log
*.pdf
*.gz
*.aux
*.lof
*.lol
*.out
*.toc
*.lot

# osx crap
.DS_Store
